<div class="container p-4">
    <div class="row">
        {{#each multiplex}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                 <form action="/multiplex/listar_multiplex" method="POST">
                        <p style="color:red;">Nombre de multiplex</p>
                        <p class="m-2">{{nombreMultiplex}}</p>
                        <p style="color:red;">Numero de salas:</p>
                        <p class="m-2">{{numeroSalas}}</p>
                        <p style="color:red;">Cantidad de sillas multiplex: </p>
                        <p class="m-2">{{cantidadSillas}}</p>
                        <p style="color:red;">Cantidad de sillas Generales: </p>
                        <p class="m-2">{{cantidadSillasGENE}}</p>
                        <p style="color:red;">Cantidad de sillas Preferenciales: </p>
                        <p class="m-2">{{cantidadSillasPREF}}</p>
                        <a href="/multiplex/eliminar/{{idMultiplex}}" class="btn btn-danger">Eliminar multiplex</a>                        
                        <script>
                            

                        </script>
                    </div>
                </div>
                </form>
                <br>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No Hay Multiplex Registrados Aun.</p>
                    <a href="/multiplex/agregar_multiplex">Crear Uno!</a>
                </div>
            </div>            
        {{/each}}
    </div>
</div>