<div class="container p-4">
    <div class="row">
        {{#each boletas}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                         <p style="color:red;">id de compra</p>
                            <h3 class="card-title text-uppercase">
                                {{idCompBoleta}}
                            </h3>
                        </a>
                        <p style="color:red;">boletas general:</p>
                        <p class="m-2">{{numeroBoletasGe}}</p>
                        <p style="color:red;">boletas preferencial:</p>
                        <p class="m-2">{{numeroBoletasPe}}</p>
                        <p style="color:red;">total boletas:</p>
                        <p class="m-2">{{totalPrecioBoletas}}</p>
                        <a href="/comprarBoleta/eliminar/{{idCompBoleta}}" class="btn btn-danger">Eliminar boletas</a>
                        <a href="/comprarBoleta/editar_boletas/{{idCompBoleta}}" class="btn btn-secondary">Editar Boletas</a>
                    </div>
                </div>
                <br>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No Hay Links Creados Aun.</p>
                    <a href="/comprarBoleta/listar_boletas">Crear Uno!</a>
                </div>
            </div>
            
        {{/each}}
    </div>
</div>